version: '3.8'

services:
  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant
    ports:
      - "6333:6333" 
    volumes:
      - qdrant_data:/qdrant/storage  

  postgres:
    image: postgres:latest
    container_name: postgres
    environment:
      POSTGRES_USER: phlox
      POSTGRES_PASSWORD: Pa55word123@@@
      POSTGRES_DB: phlox_db
    ports:
      - "5432:5432"  
    volumes:
      - postgres_data:/var/lib/postgresql/data  

  keycloak:
    image: quay.io/keycloak/keycloak:26.5.1
    container_name: keycloak
    ports:
      - "127.0.0.1:8080:8080"  
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: admin   
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin   
    command: start-dev  

volumes:
  qdrant_data:
    driver: local
  postgres_data:
    driver: local